.why {
  padding: 4rem 1.5rem;

  background: #f8f5fa;
}

.why-card {
  display: flex;
  align-items: center;
  gap: 1rem;

  background: #f1eef3;

  border-radius: 24px;

  padding: 1.5rem;
}

.why-card__icon img{
  width: 64px;
  height: 64px;

  min-width: 64px;

  border-radius: 50%;

  border: 2px solid #1f1f1f20;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1.5rem;
}

.why-card__content h3 {
  font-size: 1.1rem;
  color: #1f1f1f;

  margin-bottom: 0.3rem;
}

.why-card__content p {
  color: #6f627a;

  font-size: 0.95rem;
}

/* DOTS */

.swiper-pagination {
  position: relative !important;

  margin-top: 1.5rem;
}

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;

  background: #cdbfd9;

  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #8e73a7;
}