
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
  margin: 0;
  padding: 0;
}


h1, h2, h3, h4, h5, h6 {
    margin: 0; 
    font-size: 2rem; 
    word-wrap: break-word; 
    overflow-wrap: break-word; 
    white-space: normal; 
}


a {
    text-decoration: none; 
    color: inherit; 
}

ul, ol {
    list-style: none; 
}


button {
    cursor: pointer; 
    border: none;
    background-color: transparent;
}

#root {
  width: 100%;
}
